{% extends 'base.html' %}
{% block content %}
<div class="container">
    <h3 class="text-white my-5">Dashboard Page</h1>
    <p class="lead">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quia exercitationem velit fugit, sint vel modi quod totam, quo at laborum natus est minus corporis. Ullam iure qui dolor ex inventore eius at quas delectus quis. Amet autem officiis molestias vel necessitatibus, nobis beatae doloribus obcaecati accusamus? Dolore iure magnam itaque?
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error et dignissimos tempore, magnam eos voluptatem vitae sint voluptates veniam velit nulla ad odio rerum laboriosam repudiandae officia iste accusantium fugit perspiciatis eius exercitationem impedit doloremque! Nisi sunt repellendus ipsa reprehenderit, explicabo facilis nihil sit et necessitatibus velit dolore ut corrupti.
    </p>
    <p class="lead">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Delectus, quidem porro. Magnam officiis deserunt dignissimos necessitatibus repudiandae repellat eum autem quam nihil, nesciunt enim voluptas excepturi ad iste ut cupiditate dolores sequi pariatur quos. Sit nihil similique, nobis expedita consequatur officiis reprehenderit! Asperiores repellat nesciunt vero quaerat porro, at illo.
    </p>
</div>
{% endblock content %}

